{% extends 'asset_tracker/layout.html' %}
{% load static %}

{% block title %}
  Asset Tracker Dashboard
{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- PIE CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Pie Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart"  style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                <!-- Include the JSON data as scripts using json_script -->
              
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            
            <!-- AREA CHART -->
            
            <!-- /.card -->

            <!-- DONUT CHART -->
            
            <!-- /.card -->

            

          </div>
          <!-- /.col (LEFT) -->
          <div class="col-md-6">
            <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Bar Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- LINE CHART -->

            

            

            <!-- STACKED BAR CHART -->
           

          </div>
          <!-- /.col (RIGHT) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Add Content Here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% endblock %}

{% block script %}

<!-- jQuery -->
<script src="{% static '/asset_tracker/AdminLTE-3.2.0/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static '/asset_tracker/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static '/asset_tracker/AdminLTE-3.2.0/plugins/chart.js/Chart.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static '/asset_tracker/AdminLTE-3.2.0/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static '/asset_tracker/AdminLTE-3.2.0/dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    

    //Pie Chart
   var labels = JSON.parse('{{ labels_json|safe }}')
   var data = JSON.parse('{{ data_json|safe }}')

   console.log(labels)
   console.log(data)

   var backgroundColors = [];
   // Generate dynamic background colors based on data length
  for (var i = 0; i < data.length; i++) {
      
      var dynamicColor = 'rgba(' + Math.floor(Math.random() * 256) + ',' +
                        Math.floor(Math.random() * 256) + ',' +
                        Math.floor(Math.random() * 256) + ', 0.7)';
      backgroundColors.push(dynamicColor);
  }

   var ctx = document.getElementById('pieChart').getContext('2d');
   
  
   var myChart = new Chart(ctx, {
       type: 'pie',
       data: {
           labels: labels,
           datasets: [{
               data: data,
               backgroundColor: backgroundColors
           }],
       },
       options: {
      maintainAspectRatio : false,
      responsive : true,
    },
   });

   //Bar Chart
   var bar_labels = ['Active', 'Inactive']
   var bar_data = JSON.parse('{{ active_data_json|safe }}')

   console.log(bar_labels)
   console.log(bar_data)

   var backgroundColors = ['rgba(75, 192, 192, 0.7)', 'rgba(255, 99, 132, 0.7)'];
   var ctx_bar = document.getElementById('barChart').getContext('2d');
   
  
   var myChart = new Chart(ctx_bar, {
       type: 'bar',
       data: {
           labels: bar_labels,
           datasets: [{
            label: "# of Active Assets",
              data: bar_data,
              borderWidth: 1,
              backgroundColor: backgroundColors
           }],
       },
       options: {
        scales: {
           y: {
            beginAtZero: true,
            max: 5
         }
        }
      },
   });

});
</script>

{% endblock %}

